---
layout: default
---

<div id="section-full">
    <div class="section-header">
        <h3>Survey Result Summary - {{ page.title }}</h3>
    </div>
    <div class="section-item">
        <div class="content">
            <p>
                Below are the versions with a summary of the survey results from {{ page.start_date }} to {{ page.end_date }}.
            </p>

            <ul>
                {% for summary in site.summaries %}
                    {% if summary.year != page.year or summary.filename != page.filename or summary.version == nil %}{% continue %}{% endif %}
                    <li>
                        <a href="{{ summary.url }}">{{ summary.version }}</a>
                    </li>
                {% endfor %}
            </ul>

            {% if page.type == "week" %}
            <p>
                <small>
                    Note: some versions are not shown, as they do not have a summary created for them.
                    To protect the privacy of the participants and to avoid any misinterpretation of the data, a summary is only created if sufficient valid responses are received.
                    What is considered sufficient depends on a number of factors, like amount of reports received, amount of games reported, amount of time played, and so on.
                    What is considered valid depends on things like whether it was send by an official binary, whether it contains all the required fields, and so on.
                    For more details about these thresholds and validations, please check <a href="https://github.com/OpenTTD/survey-web/blob/main/analysis/__main__.py">the source code</a>.
                </small>
            </p>
            {% endif %}
        </div>
    </div>
</div>
